/* Basic Style */

body {
  color: white;
  font-family: Lato, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1518976024611-28bf4b48222e?q=80&w=1885&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

:root {
  --fontColor: #ffeeaa;
  --shadowColor: 0 0 0.3em #ffeeaa;
  --glowColor: #ffeeaa;
}

#glowing_text {
  text-wrap: nowrap;
  text-overflow: clip;
}

.container {
  display: block;
  max-width: 1000px; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px;
  width: 400px;
  margin: 10px auto 100px;
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(136, 138, 139);
}

/* Adjustments for larger screens */
@media screen and (min-width: 768px) {
  .container {
    width: 90%; /* Use 90% of the viewport width for larger screens */
  }
}

h2 {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0px;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
}

li * {
  float: left;
}

li,
h3 {
  clear: both;
  list-style: none;
}

input,
button {
  outline: none;
}

button {
  background: none;
  border: 1px solid white;
  color: white;
  font-size: 15px;
  width: 100px;
  padding: 6px;
  border-radius: 16px border 0px;
  cursor: pointer;

  margin: 0px 10px 10px 0px;
}

button:hover {
  color: #333;
}

/* Heading */

h3,
label[for='new-task'] {
  color: #ffeeaa;
  font-weight: 700;
  font-size: 18px;
  border-bottom: 2px solid #333;
  padding: 20px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

input[type='text'] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #dddddd91;
  background: #ffffff88;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

input[type='text']:focus {
  color: #333;
}

/* New Task */

label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}

input#new-task {
  float: left;
  width: 318px;
}

p > button:hover {
  color: #0fc57c;
}

/* Task list */

li {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

li > input[type='checkbox'] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}

li > label {
  font-size: 18px;
  line-height: 30px;
  width: 237px;
  padding: 0 0 0 11px;
  color: white;
}

li > input[type='text'] {
  width: 226px;
}

li > .delete:hover {
  color: #cf2323;
}

/* Completed */

#completed-tasks label {
  text-decoration: line-through;
  color: #ffeeaa;
}

/* Edit Task */

ul li input[type='text'] {
  display: none;
}

ul li.editMode input[type='text'] {
  display: block;
}

ul li.editMode label {
  display: none;
}
/* Styling the pinned-task  */
button.pin {
  display: flex;
  justify-content: center;
}

button.pin:hover {
  color: #ffeeaa;
}

.pinned-task {
  background-color: #ffeeaa8f;
  font-weight: bold;
}
.description {
  color: white;
  font-size: 13px;
  position: absolute;
  margin: 50px;
  width: 100%;
  max-width: 247px;
}
li label {
  position: relative;
}
/* Special styling for add-task button */
.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.471);
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  letter-spacing: 4px;
}
